// GENERAL STYLE
@use "./general.scss" as *;
//   VARIABLES
@use "./partials/variables" as *;

// BOOTSTRAP
@import "~bootstrap/scss/bootstrap";

// CONTAINERS

.wrapper {
    padding: 1rem 3rem;
}

// HEADER
.header-line {
    background-color: $primary-color;
    display: flex;
    flex-direction: row-reverse;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;

    .div-logo {
        width: 80px;
        height: 80px;
    }

    ul {
        min-height: 100%;
    }

    li {
        display: inline-block;
        height: 100%;

        font-weight: 800;
        padding: 2rem 1rem;

        a {
            display: inline-block;
            color: black;
            height: 100%;

            &:hover {
                border-bottom: 2px solid $primary-color;
            }
        }
    }
}

// JUMBOTRON

.jumbotron {
    position: relative;

    img {
        width: 100vw;
        height: 400px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    button {
        position: absolute;
        bottom: -3%;
        left: 8rem;

        background-color: $primary-color;
        color: $white-text;
        font-weight: 700;
        border: 0;
        padding: 0.5rem;
    }
}

//MAIN

.comics-container {
    background-color: rgb(23, 23, 23);
    .content {
        display: flex;
        flex-wrap: wrap;

        padding: 2rem 0;

        width: 100%;
        .card-img {
            width: calc(100% / 6);

            padding: 2rem 1rem;

            img {
                height: 100%;
            }

            h4 {
                color: $white-text;
                font-size: 1rem;
            }
        }
    }

    .div-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2rem;

        .load-btn {
            background-color: $primary-color;
            color: $white-text;
            padding: 0.5rem 2rem;
            border: none;

            &:hover {
                background-color: $white-text;
                color: $primary-color;
                cursor: pointer;
            }
        }
    }
}

// BUY PRODUCTS SECTION

.product-container {
    background-color: $primary-color;

    .product-list {
        display: flex;
        justify-content: space-evenly;

        .product-item {
            margin-right: 2rem;

            .links {
                display: flex;
                align-items: center;

                font-weight: 700;

                p {
                    color: $white-text;
                }
                .product-image {
                    width: 50px;
                    height: 55px;

                    margin-right: 1rem;

                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
}

// FOOTER

.footer-container {
    background-image: url("/images/footer-bg.jpg");
    background-size: cover;

    display: flex;

    .links {
        width: 50%;
        padding-top: 1rem;

        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        color: $grey-text;

        h4 {
            padding-bottom: 0.5rem;
            color: $white-text;
        }

        ul {
            margin-bottom: 0;
            padding-left: 0;
            a {
                color: $grey-text;
            }
        }
    }
    .footer-logo {
        display: flex;
        justify-content: end;

        padding: 0;

        img {
            object-fit: none;
        }
    }
}
