// GENERAL STYLE
@use "./general.scss" as *;
//   VARIABLES
@use "./partials/variables" as *;

// BOOTSTRAP
@import "~bootstrap/scss/bootstrap";

// HEADER
.header-line {
    background-color: $primary-color;
    display: flex;
    flex-direction: row-reverse;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .div-logo {
        width: 80px;
        height: 80px;
    }

    ul {
        min-height: 100%;
    }

    li {
        display: inline-block;
        height: 100%;

        font-weight: 800;
        padding: 2rem 1rem;

        a {
            display: inline-block;
            color: black;
            height: 100%;

            &:hover {
                border-bottom: 2px solid $primary-color;
            }
        }
    }
}

//MAIN

.comics-container {
    background-color: rgb(23, 23, 23);
    .content {
        display: flex;
        flex-wrap: wrap;

        padding: 2rem 0;

        width: 100%;
        .card-img {
            width: calc(100% / 6);

            padding: 2rem 1rem;

            img {
                height: 100%;
            }

            h4 {
                color: $white-text;
                font-size: 1rem;
            }
        }
    }

    .div-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 2rem;

        .load-btn {
            background-color: $primary-color;
            color: $white-text;
            padding: 0.5rem 2rem;
            border: none;

            &:hover {
                background-color: $white-text;
                color: $primary-color;
                cursor: pointer;
            }
        }
    }
}

// JUMBOTRON

.jumbotron {
    position: relative;

    img {
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    button {
        position: absolute;
        bottom: -3%;
        left: 8rem;

        background-color: $primary-color;
        color: $white-text;
        font-weight: 700;
        border: 0;
        padding: 0.5rem;
    }
}
